body {
    background-image: url("../images/destination/background-destination-desktop.jpg");
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
}

.main > ul {
    /*background-color: red;*/
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.main > ul > li {
    display: inline-block;
}

.main > ul > li > a {
    /*background-color: blue;*/
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: lighter;
    /*margin-left: 20px 30px;*/
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px 30px;*/
    /*padding-right: 30px;
    padding-left: 30px;*/
}

.main {
    background-color: hsl(218, 57%, 12%);
    text-align: right;
    width: 50%;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-right: 0;
    float: right;
}

.question {
    position: relative;
    top: 10%;
}

img {
    width: 350px;
    position: absolute;
    top: 30%;
    left: 200px;
}