body {
    background-color: hsl(218, 57%, 12%);
    background-image: url("../images/destination/background-destination-desktop.jpg");
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

table {
    margin-top: 25px;
}

.main > ul {
    /*background-color: red;*/
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.main > ul > li {
    display: inline-block;
}

.main > ul > li > a {
    /*background-color: blue;*/
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: lighter;
    /*margin-left: 20px 30px;*/
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px 30px;*/
    /*padding-right: 30px;
    padding-left: 30px;*/
}

.main {
    background-color: hsl(218, 57%, 12%);
    text-align: right;
    width: 50%;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-right: 0;
    float: right;
}

.question {
    color: white;
    font-size: 1.2rem;
    clear: right;
    position: absolute;
    top: 15%;
    left: 16%;
}

.question > h4 > span {
    color: grey;
    margin-right: 20px;
}

img {
    width: 350px;
    position: absolute;
    top: 35%;
    left: 200px;
}

.container {
    /*background-color: blue;*/
    position: relative;
    width: 500px;
    top: 100px;
    left: 50%;
    clear: right;
}

.container > .destination-selectors > nav > ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.container > .destination-selectors > nav > ul > li {
    display: inline-block;
}

.container > .destination-selectors > nav > ul > li > a {
    color: rgba(255, 255, 255, 0.658);
    font-weight: lighter;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.moon {
    margin-left: 0;
}

.active {
    border-bottom: 2px solid;
    border-color: white;
}

.container > .destination-selectors > nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content > .heading > p {
    color: white;
    font-size: 5rem;
    font-weight: lighter;
    margin-top: 2px;
    margin-bottom: 2px;
}

.content > .description {
    width: 410px;
}

.content > .description > p {
    color: hsl(222, 40%, 90%);
    line-height: 2;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}

hr {
    border: none none none 0.5px;
    border-color: rgba(51, 49, 49, 0.37);
    padding-right: 150px;
}

td {
    color: white;
    padding-right: 35px;
}

.bold {
    font-size: 1.5rem;
}

.lighter {
    color: hsl(222, 40%, 90%);
    font-size: 0.7rem;
}

@media (max-width: 1200px) {
    .container {
        left: 55%;
    }   
}

@media (max-width: 1137px) {
    .main > ul > li > a {
        margin-left: 20px;
        margin-right: 20px;
    }   
}

@media (max-width: 1090px) {
    img {
        left: 100px;
    }
}

@media (max-width: 977px) {
    .main > ul > li > a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .question {
        top: 15%;
    }

    img {
        width: 300px;
        top: 35%;
        left: 150px;
    }

    .container {
        top: 80px;
    }
}