body {
    background-image: url("../images/home/background-home-desktop.jpg");
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
}

ul {
    background-color: red;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

li {
    display: inline-block;
}

ul > li > a {
    background-color: blue;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: lighter;
    padding: 20px 30px;
    /*padding-right: 30px;
    padding-left: 30px;*/
}

nav {
    background-color: hsl(218, 57%, 12%);
    text-align: right;
    width: 50%;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 6px;
    margin-top: 20px;
    margin-right: 0;
    float: right;
}


.number {
    padding-right: 5px;
    font-weight: bold;
}

.content {
    /*background-color: red;*/
    color: white;
    width: 420px;
    position: relative;
    top: 200px;
    left: 13%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question {
    color: hsl(218, 17%, 63%);
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 7px;
    white-space: 2;
}

.space {
    /*background-color: yellow;*/
    font-size: 7.8rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
}

.description {
    color: hsl(220, 39%, 79%);
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
    line-height: 1.8;
}


.Explore {
    background-color: white;
    color: rgba(3, 0, 0, 0.733);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 65%;
    padding: 80px 80px;
    border-radius: 300px;
}
