body {
    background-image: url("../images/home/background-home-desktop.jpg");
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
}

ul {
    /*background-color: red;*/
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

li {
    display: inline-block;
}

ul > li > a {
    /*background-color: blue;*/
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: lighter;
    /*margin-left: 20px 30px;*/
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px 30px;*/
    /*padding-right: 30px;
    padding-left: 30px;*/
}

nav {
    background-color: hsl(218, 57%, 12%);
    text-align: right;
    width: 50%;
    padding-top: 10px;
    padding-right: 120px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-right: 0;
    float: right;
}


.number {
    padding-right: 5px;
    font-weight: bold;
}

.content {
    /*background-color: red;*/
    color: white;
    clear: right;
    width: 420px;
    position: relative;
    top: 100px;
    left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question {
    color: hsl(218, 17%, 63%);
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 7px;
    white-space: 2;
}

.space {
    /*background-color: yellow;*/
    font-size: 7.8rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
}

.description {
    color: hsl(220, 39%, 79%);
    padding-left: 10px;
    padding-right: 20px;
    text-align: justify;
    line-height: 1.8;
}


.Explore {
    background-color: white;
    color: rgba(3, 0, 0, 0.733);
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    bottom: 15%;
    left: 65%;
    padding: 60px 60px;
    border-radius: 300px;
}

ul > li > a:hover {
    border-bottom: solid 3px;
    border-color: white;
}

/**************************************RESPONSIVE DESISIN*********************************/
@media (max-width: 1180px) {
    ul > li > a {
        margin-left: 15px;
        margin-right: 15px;      
    } 

    nav {
        padding-right: 100px;
    }

    .content {
        left: 10%;
    }
}

/****************************TABLET VIEW*****************************************************/
@media (max-width: 1120px) {
    body{
        background-image: url("../images/home/background-home-tablet.jpg");
    }   
    
    nav {
        width: 40%;
        margin-top: 0;
        padding-right: 60px;
    }

    ul > li > a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .content {
        top: 20px;
        left: 0;
        margin: 0 auto;
        clear: right;
    }

    .question {
        font-size: 1rem;
        text-align: center;
    }

    .space {
        font-size: 5.5rem;
        text-align: center;
        padding: 0;
    }

    .Explore {
        padding: 40px 40px;
        top: 65%;
        bottom: 5%;
        left: 40%;
    }

    .description {
        padding: 0;
        line-height: 1.5;
        text-align: center;
    }
}

/***********************************MOBILE DESIGN********************************************/

