body {
    background-image: url("../images/home/background-home-desktop.jpg");
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
}

ul > li > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: lighter;
    padding-left: 60px;
}

nav {
    background-color: hsl(218, 44%, 22%);
    margin-top: 20px;
    margin-left: 630px;
    padding: 5px 20px;
}


.Technology {
    margin-right: 100px;
}

.number {
    padding-right: 5px;
    font-weight: bold;
}

.content {
    background-color: red;
    color: white;
    width: 395px;
    position: relative;
    top: 100px;
    left: 13%;
}

.question {
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.space {
    background-color: yellow;
    font-size: 7.8rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 2px;
}

.description {

}


.Explore {
    position: absolute;
}
